@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider li a:hover {
}

.slider li:hover a.animate-nav-link {
  animation-name: slide-right-animation;
  animation-duration: 15s;
  animation-timing-function: forwards;
  animation-iteration-count: 1;
  background: #5c66f1;
  text-decoration: line-through;
}
.slider li a.animate-nav-link {
  animation-name: slide-left-animation;
  animation-duration: 6s;
  animation-timing-function: backwards;
  animation-iteration-count: 1;
}

.rounded-b-radius {
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: white;
}
.bg-img {
  background-image: url("./assets/images/hero-img-original.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 100vh;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: #335cf4;
}

@keyframes slide-right-animation {
  0% {
    transform: translateX(50%);
  }
  6.66%,
  26.64% {
    transform: translateX(0%);
  }
  33.30%,
  100% {
    transform: translateX(-20%);
  }
}
@keyframes slide-left-animation {
  0% {
    transform: translateX(20%);
  }
  6.66%,
  26.64% {
    transform: translateX(0%);
  }
  33.30%,
  100% {
    transform: translateX(0%);
  }
}

/* Games section */
/* ======================================== */

.aboutus-bg {
  background-image: url("./assets/images/about-our-image.png");
  background-position: center center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.card figure {
  /* background: red; */
  height: 150% !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .bg-img {
    /* height: 50vh; */
    height: 80vh;
    background-position: bottom center;
    background-size: cover;
  }

  .space-in-mobile {
    padding: 0px 0px !important;
    margin: 0px 0px !important;
    height: 100%;
  }

  .slider {
    /* width: 100%; */
    padding-right: 0px !important;
    margin-left: 0px !important;
    right: 0;
    width: 100vw;
    border-top-left-radius: 20px;
  }
}
